body{ background-color: #dbe3e5; }
hr  { border-style: dotted none none;
      border-color: gray;
      border-width: 6px;
      border-spacing: 3px;
      height: 0px;
      width: 20%;     }

h1 {font-style: oblique;
    letter-spacing: 3px;
    color: #776d8a;
    font-family: monospace;
    font-size: xxx-large; }

h2{font-style: oblique;
    color: #776d8a;
    font-family: Arial, sans-serif; }

h3{font-style: oblique;
    color: #776d8a;
    font-family: Arial, sans-serif;   }
